/* reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************* Utility Components ***********************/

:root {
    font-size: 62.5%;

    /* custom properties */

    /* colors */
    --primary-color: white;
    --secondary-color: black;
    --tertiary-color: #D5C7A3;
    --fourth-color: #A3D5D4;
    --fourth-color-m: #c4edec;

    /*fonts */
    --primary-font:  'Fragment Mono', monospace;
    --secondary-font: 'IBM Plex Mono', monospace;
    --tertiary-font: 'Poppins', sans-serif;

}

body {
    font-family: var(--primary-font); 
    line-height: 1.8;
    display: flex;
}


aside a {
    font-family: var(--secondary-font);
}

li {

    list-style: none;
}

a {
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}


a:visited {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* -------- side nav --------- */

aside#side-nav {
    position: sticky;
    top: 0;
    left: 1vw; 
    height: 100vh;
}

div.side-nav__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

div.side-nav__content--logo img {
    width: calc(5vw + 5vh);
    object-fit: cover;
}

ul.side-nav__content--social {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
    gap: 2vw;
    margin-bottom: 8vh;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    width: calc(3cw+3vh);

}

.side-nav__content--social a {
    text-decoration: none;
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    height: 1vh;
    padding: 1rem;
    font-size: calc(0.005rem + 0.4vw);
    box-sizing: border-box;
    text-align: center;
    padding-bottom: calc(2rem + 0.66667vw);
    transition: color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), border 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);



}

.side-nav__content--social a:hover, 
.side-nav__content--social a:active  {

    color: black;
    border: 1px solid black;
    background-color: var(--fourth-color-m);

}

/* -------- Main Content --------- */

/* all content container => main element */

main {
    flex: 1;
}

#header {
    font-family: var(--primary-font);
    background-color: var(--tertiary-color);
    height: calc(3vw + 3vh) !important;
    z-index: 2;
    margin-left: 1vw;
}

#header__main-nav {
    height: 100%;
}

ul.header__main-nav--links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.header__main-nav--links li {
    padding-right: 3vw;
}

ul.header__main-nav--links li a {
    position: relative; /* why do we put it position relative? because of the hover effect that we're going to add! */
    padding: 0.4rem 0.6rem;
    font-size: calc(1rem + 0.66667vw);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 0.25rem;
    background-color: white;

    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(1, 0, 0, 1);

}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before {
    top: 0;
    /* transform origin is center by default */
    transform-origin: left;
}

ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
   bottom: 0;
   transform-origin: right;
}

ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::after {
    transform: scaleX(1);

}

