/* reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************* Utility Components ***********************/

@font-face {
  font-family: "Archivo";
  src: url("./fonts/archivo.ttf") format("truetype");
}

@font-face {
  font-family: "Nagoda";
  src: url("./fonts/nagoda.ttf") format("truetype");
}

@font-face {
  font-family: "Wolkerjuiced";
  src: url("./fonts/wolkerjuiced.ttf") format("truetype");
}

:root {
  font-size: 62.5%;

  /* custom properties */

  /* colors */
  --primary-color: white;
  --secondary-color: black;
  --tertiary-color: transparent;
  --fourth-color: #a3d5d4;
  --fourth-color-m: #6facab;

  /*fonts */
  --primary-font: "Wolkerjuiced", monospace;
  --secondary-font: "Archivo", monospace;
  --tertiary-font: "Naogda", sans-serif;
}

body {
  font-family: var(--primary-font);
  line-height: 1.8;
  display: flex;
  background-color: black;
}

aside a {
  font-family: var(--secondary-font);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

a:visited {
  color: white;
}

/* -------- side nav --------- */

aside#side-nav {
  position: sticky;
  top: 0;
  left: 1vw;
  height: 100vh;
  background-color: white;
}

div.side-nav__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

div.side-nav__content--logo img {
  width: calc(5vw + 5vh);
  object-fit: cover;
}

ul.side-nav__content--social {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2vw;
  margin-bottom: 8vh;
  padding-left: 0.7vw;
  padding-right: 0.7vw;
  width: calc(3cw+3vh);
}

.side-nav__content--social a {
  text-decoration: none;
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 1vh;
  padding: 1rem;
  font-size: calc(0.05rem + 1vw);
  box-sizing: border-box;
  text-align: center;
  padding-bottom: calc(2rem + 0.66667vw);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1),
    border 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0.2;
}

.side-nav__content--social a:hover {
  opacity: 1;
  border-right: 1px solid black;
  border-left: 1px solid transparent;
}

.side-nav__content--social a:link::after,
.side-nav__content--social a:visited::after {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(3vw + 3vh);
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s;
}

.side-nav__content--social a:nth-child(1):link::after,
.side-nav__content--social a:nth-child(1):visited::after {
  content: "𓆏";
}

.side-nav__content--social a:nth-child(2):link::after,
.side-nav__content--social a:nth-child(2):visited::after {
  content: "(づ｡◕‿‿◕｡)づ";
}

.side-nav__content--social a:nth-child(3):link::after,
.side-nav__content--social a:nth-child(3):visited::after {
  content: "𒐫";
}

.side-nav__content--social a:nth-child(4):link::after,
.side-nav__content--social a:nth-child(4):visited::after {
  content: "y̴̧̢͔̥̦̪̩̺̱̾̇̽̈́̅͒̌̉o̷̡̨̪͚̥͓̍̿͐̐͜͝û̵̖̜͇̦̰͠ d̷͇̆̇̌̓̊̔͝ï̶̢̥͓̣̼̬̖͕̀̚͘ḍ̴̠͙̱̝͙͍͇̰̉̍̈́́̿̒ñ̴̖̗̾̿͘t̵̲̰̗̰̬̓͒͊͂͑̾ s̸̢̧̡͔̤̙͇̱͌h̵̛̗̼̥̰͖͓̿͗͊̆̊͗̌͜o̵̥̖͔͔͉͈͗̈̀̂̑̓ẁ̶̧̡̪̭̦͕̍̇͛̌̂̂͆͜ m̵̫̘̺̪̭̽͛̿̿̀̎̄̐ͅȅ̸̢̧̫̺͙̠̙̩͙̓͐͘r̶͖̔͑͌̾c̴̪̲̤͇̆̋͌̓̅̋̚͝͝y̷̘͓̗͔̺̮̫͇͗̕ͅ ť̸̯̈́͂̈̈́̀͗͒̓͑ơ̶̧̨̭̥͉̳̘̪ b̵͎͎̘̘̞͍̦̩̰͖̎̿̀͑̒̑̆͑̚å̴̼͙̠̩̰͉͙̃͊̍̈́͠c̸̛̭͖̟̦͖̜̉̀̋̐̏ȍ̴̪̦͚̪͖̲̖͋̊͑͑n̴̜͔͕̱͖̦͈̂̎̐̍s̵̡̧̛̪̖̼̫̰̲̀̓̈́̉̀̃ t̶̳̓̌͒̎͊̄̃̽h̵̨̛͕͈̟͈̝̝͕̻͛͋̅̈́̎̐́͐͘ͅì̷̧̧̛̦̬̳̬͊̏̀̀̀̓n̴̛̮̯͇͆͑̏̂̍͐́̕͠k̶̡̃̎͐̐͂̈̏̏͘͘ t̵͔͔͕̾̄̏͋̓͐̂͂h̴̝͈͚͗̒͗ë̴̼͕̯̭̳́̀̓̀͝y̵̳̱̙̹͔̿̔̐̃͑̋̿͝ͅ à̵̢̤̖͚̦͍͙̞̦̒̃͑̿̓́r̶̢̨̖̺̬̓̇ẽ̴̩͚͓̙̣̙̫̏͂̎̊  t̷̢̢̹̫͈̺̜̯̥̀ö̸̙̙̤̟̻̯̰̟́̿̐̈́͛̋͘͠ ş̵͈̥̳̖̉͛̉͊̋͒h̶͓̻̤̬͙̟̣̫̰̊̾͒́̀̏̾̋͌͜o̶̧͔̪̘̳̱̼̫͝w̴̙̟̺͕̮̙̗͈͑̆ ṁ̸͉̠̟͔̞̺̌̓̒̿͛̿͜͠ȅ̸̮̊r̵̝̹͕͈̋̈́͋͆̑̔̚͜ç̵̯̺̗͓͒͑̓͊̈́̽̀̉̆y̴͔̣͇͕̞͙̖̫͊̈́̈́͑͐̽ͅ ṱ̸̻̙̘̎o̷̧͕̞͔̮̔͆͐̃͐ y̴̛̙̙̦̗̼̠̞͚̱̮̍̓̽͋̔̏̋̂o̴̧͇͉͇͈̮̙̭̯͇̓̍̿͠ủ̶͚̗͖̗̩͇̞̀͂̉̈́̇͝͝?̴͚͈̖͋̓̓ ' :̶̨̡̛͙̲̟̫̠̄̆̍͊̉̆̍D ¯\_(ツ)_/¯";
}

.side-nav__content--social a:nth-child(5):link::after,
.side-nav__content--social a:nth-child(5):visited::after {
  content: "‧̍̊˙· 𓆝.° ｡˚𓆛˚｡ °.𓆞 ·˙‧̍̊";
}

.side-nav__content--social a:hover::after,
.side-nav__content--social a:active::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* -------- Main Content --------- */

/* all content container => main element */

main {
  flex: 1;
}

/* -------------------------- Main Nav -------------------------- */

#header {
  font-family: var(--primary-font);
  height: calc(3vw + 3vh) !important;
  z-index: 5;
  margin-left: 1vw;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  background-color: black;
}

#header__main-nav {
  height: 100%;
}

ul.header__main-nav--links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul.header__main-nav--links li {
  padding-right: 3vw;
}

ul.header__main-nav--links li a {
  position: relative;
  /* why do we put it position relative? because of the hover effect that we're going to add! */
  padding: 0.4rem 0.6rem;
  font-size: calc(1rem + 0.66667vw);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 0.25rem;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before {
  top: 0;
  /* transform origin is center by default */
  transform-origin: left;
}

ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  bottom: 0;
  transform-origin: right;
}

ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::after {
  transform: scaleX(1);
}

/* ___________ Showcase Hero Section ____________ */

#showcase {
  height: 100vh;
  background-image: url(./img/dean_blunt/dean_blunt_asap_rocky.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.showcase__content {
  background-color: var(--tertiary-color);
  width: 20vw;
  height: calc(8rem + 20vmax);
  margin-left: 6vw;
  padding: calc(1rem + 2vw);
  opacity: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation: hero 2s;
}

/* makes the hero-section slide in from the top */

@keyframes hero {
  0% {
    transform: translateY(-100rem);
    opacity: 0%;
    z-index: -2;
  }
}

.showcase__content--title {
  font-size: calc(1rem + 2vw);
  letter-spacing: 0.5vw;
  text-transform: uppercase;
}

.showcase__content--para {
  font-family: var(--tertiary-font);
  font-size: calc(0.5rem + 1vw);
  color: var(--fourth-color);
}

.showcase__content--link:link,
.showcase__content--link:visited {
  padding: 1rem 0;
  transition: all 0.5s ease-in-out;
  width: 9rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.showcase__content--link:link::after,
.showcase__content--link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--fourth-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: -1;
}

.showcase__content--link:hover::after,
.showcase__content--link:active::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* --------- Work Section _________ */

section#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: white;
}

div.work__card {
  position: relative;
  display: flex;
  padding: 2rem;
  flex-basis: 30rem;
  flex-grow: 1;
}

div.work__card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%) blur(2px);
  transition: transform 0.2s ease-in-out;
}

.work__card h3 {
  display: none;
  position: absolute;
  font-size: 4rem;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--fourth-color);
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: display 0.2s ease-in-out;
}

div.work__card img:hover {
  filter: none;
  transform: scale(1.1);
}

.work__card:hover h3 {
  display: block;
}

section#about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: var(--fourth-color);
}

.about-me__img,
.about-me__content {
  flex-basis: 40rem;
  padding: 2rem;
  flex-grow: 1;
}

.about-me__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me__content--title {
  font-size: 4rem;
  padding: 1rem;
  position: relative;
  /* why relative? it's because of the line below the title. It's an ::after pseudo-element and that's why position has to be relative */
}

.about-me__content--title:after {
  content: "";
  position: absolute;
  /* positioned absolute in relation to content--title */
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 10%;
  background-color: var(--primary-color);
}

.about-me__content--title,
.about-me__content p {
  margin-bottom: 4rem;
  letter-spacing: 0.2rem;
  /* we choose both title and p to make sure that the same margin is applied to both of the elements. That way it looks clean. */
}

.about-me__content p {
  font-size: 1.2rem;
  font-family: var(--secondary-font);
}

.about-me__content--link:link,
.about-me__content--link:visited {
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  transition: color 0.25s ease-in;
}

.about-me__content--link:link::after,
.about-me__content--link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;

  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}

.about-me__content--link:link:hover,
.about-me__content--link:visited:hover {
  color: black;
}

.about-me__content--link:link:hover::after,
.about-me__content--link:visited:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}

/* ----------------- Services Section --------------- */

#services {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 4rem 2rem 2rem;
}

/* --------------- service section ------------------- */

.service svg {
  width: 7%;
  height: 7%;
  fill: white;
}

.service {
  padding: 4rem;
  margin: 0 2rem 4rem;
  flex-basis: 40rem;
  flex-grow: 1;
  background-color: var(--fourth-color-m);
  position: relative;
  z-index: 1;
  border-radius: 3rem;
}

.service h3 {
  position: relative;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: white;
}

.service h3::after {
  content: "";
  position: absolute;
  top: 2.7rem;
  left: 0;
  height: 0.2rem;
  width: 50%;
  transform: scaleX(0.5);
  background-color: white;
}

.service::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
}

.service:hover::after,
.service:active::after {
  transform: scaleX(1);
}

.services--para {
  font-family: var(--secondary-font);
  width: 80%;

  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 400;
}

/* --------------- Skill Section ------------------- */

section#skills {
  display: flex;
  justify-content: center;
  background-color: var(--fourth-color);
  align-items: center;
  flex-wrap: wrap;
  padding: calc(1rem + 2vw);
}

.skills__desing,
.skills__coding {
  padding: calc(1rem + 2vw);
  text-transform: uppercase;
  flex-basis: 40rem;
  flex-grow: 1;
}

.skills__desing--title,
.skills__coding--title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.skills__desing h4,
.skills__coding h4 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-family: var(--tertiary-font);
}

.skills__design--progress,
.skills__coding--progress {
  position: relative;
  display: block;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  width: 100%;
  margin-bottom: 2rem;
}

.skills__design--progress span,
.skills__coding--progress span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  background-color: var(--fourth-color-m);
  border-radius: 3rem;
}

.skills_design--progress__1 {
  animation: design-1 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skills_design--progress__2 {
  animation: design-2 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skills_design--progress__3 {
  animation: design-3 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skills_design--progress__4 {
  animation: design-4 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes design-1 {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes design-2 {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes design-3 {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes design-4 {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

.skills_coding--progress__1 {
  animation: coding-1 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skills_coding--progress__2 {
  animation: coding-2 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skills_coding--progress__3 {
  animation: coding-3 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skills_coding--progress__4 {
  animation: coding-4 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes coding-1 {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes coding-2 {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

@keyframes coding-3 {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes coding-4 {
  0% {
    width: 0%;
  }

  100% {
    width: 45%;
  }
}

/* ----------- Min Width 1510px ------------ */

@media screen and (min-width: 1510px) {
  body {
    width: 1510px;
    margin: auto;
    background-color: white;
  }
}

/* ----------- Max Width 900px ------------ */

@media screen and (max-width: 900px) {
  section#showcase {
    background-position: 100%;
  }
}

/* ----------- Max Width 610px ------------ */

@media screen and (max-width: 610px) {
  /* -------------------------- Main Nav -------------------------- */

  header#header {
    position: absolute;
  }

  nav#header__main-nav {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100rem;
    background-color: #c4edec;
    text-align: center;
  }

  .clicked {
    left: 55%;
  }

  .header__main-nav--hamburger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 4rem;
    right: 3rem;
    cursor: pointer;
    background-color: transparent;
    padding: 1rem;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  div.line {
    width: 100%;
    height: 0.3rem;
    background-color: white;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }

  ul.header__main-nav--links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  ul.header__main-nav--links li {
    width: auto;
    margin-bottom: 4vh;
    margin-left: 6vw;
  }

  .clicked .line-1 {
    transform: rotateZ(-45deg) translate(-0.8rem, 0.6rem);
  }

  .clicked .line-2 {
    opacity: 0;
  }

  .clicked .line-3 {
    transform: rotateZ(45deg) translate(-0.8rem, -0.6rem);
  }

  ul.header__main-nav--links li {
    opacity: 0;
  }

  ul.header__main-nav--links li:nth-child(1) {
    transition: all 0.5s ease-in-out 0.2s;
  }

  ul.header__main-nav--links li:nth-child(2) {
    transition: all 0.5s ease-in-out 0.4s;
  }

  ul.header__main-nav--links li:nth-child(3) {
    transition: all 0.5s ease-in-out 0.6s;
  }

  ul.header__main-nav--links li:nth-child(4) {
    transition: all 0.5s ease-in-out 0.8s;
  }

  ul.header__main-nav--links li:nth-child(5) {
    transition: all 0.5s ease-in-out 1s;
  }

  ul.header__main-nav--links li:nth-child(6) {
    transition: all 0.5s ease-in-out 1.2s;
  }

  ul.header__main-nav--links li.fade {
    opacity: 1;
  }

  section#showcase {
    background-position: 80%;
  }

  /* --------------- service section ------------------- */

  section#services {
    padding: 6rem 3rem 2rem;
  }

  .service {
    padding: calc(1rem + 2vw);
    margin: 0 0 calc(1rem + 2vw);
  }

  .services--title,
  .skills__desing--title,
  .skills__coding--title {
    font-size: calc(1.2rem + 2vw);
  }

  .service--para,
  .skills__desing h4,
  .skills__coding h4 {
    font-size: calc(0.8rem + 1.5vw);
  }

  /* --------------- Skill Section ------------------- */
}
